h1 {
    text-align: center;
    font-family: Cambria, Cochin, Times, serif;
    font-size: 100px;
    margin-top: 130px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 4px;
}

figcaption {
    color: gray;
    text-align: center;
    font-size: 13px;
    font-family: Cambria, Cochin, Times, serif;
    font-style: italic;
}