h1 {
    text-align: center;
    font-family: Cambria, Cochin, Times, serif;
    font-size: 80px;
    margin-top: 130px;
}

img {
    position: absolute;
    margin: auto;
    width: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
}

figcaption {
    color: gray;
    text-align: center;
    font-size: 13px;
    font-family: Cambria, Cochin, Times, serif;
    font-style: italic;
}